<header>
    <nav>
        <ul>
            <li><a href="/product">Produits</a></li>
            <li><a href="/category">Catégories</a></li>
            <li><a href="/login">Se connecter</a></li>
        </ul>
    </nav>
</header>